body {
    margin-top: 50px;
    background-color: #fefcfc;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* To make it in center */
    /* display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0; */
}

.todo-container {
    width: 100%;
    text-align: center;
    background-color: #9499FF;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 5px 5px black;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list li {
    font-weight: 550;
    margin: 10px 0;
    padding: 8px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    border-radius: 5px;
    box-shadow: 2px 2px #000000;
    overflow: auto;
}

input[type="text"] {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    border: 3px solid #000000;
    border-radius: 5px;
}

button {
    padding: 12px 20px;
    background-color: #05cb8c;
    font-weight: 550;
    color: #FFFFFF;
    box-shadow: 2px 2px #000000;
    border: none;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 5px;
}

.delete-button {
    background-color: #f44336;
    margin-left: 10px;
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Media query for small screens (e.g., Android phones) */
@media only screen and (max-width: 400px) {
    body {
        margin: 1em;
        margin-right: 2em;
    }

    .todo-container {
        border-radius: 10px;
        padding: 10px;
        box-shadow: 3px 3px #00000033;
    }

    input[type="text"] {
        width: 70%;
    }

    button {
        padding: 10px 15px;
        font-size: 0.9rem;
    }

    .todo-list li {
        flex-direction: column;
        text-align: center;
    }

    .delete-button {
        margin-left: 0;
        margin-top: 10px;
    }

    .todo-container h1 {
        font-size: 1.5rem;
    }
}